@charset "UTF-8";
/*РћР±РЅСѓР»РµРЅРёРµ*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/* Fonts */
/* variables */
/* mix */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(/images/dark_background.jpg) left no-repeat;
}
.content_bg-right {
  background: url(/images/dark_background.jpg) right no-repeat;
}
.content__icon {
  max-width: 41px;
}
.content__icon img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content__title {
  margin: 0 0 23px 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: #ed068c;
  text-align: center;
}
.content__title_shadow {
  text-shadow: 2px 0px 2px #282f35;
}
.content__list {
  font-size: 16px;
  line-height: 25px;
  color: rgb(222, 222, 222);
  text-align: justify;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-shadow: 0 0 2px black;
}
.content__list span {
  font-weight: 400;
  font-size: 14px;
  color: rgb(224, 223, 223);
}
.content__list li::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  top: 0;
  background: url(/icons/list_icon.png) 0 0/auto 100% no-repeat;
}
.content__list_center-align {
  margin: 0 auto;
}

.button {
  border: 1px solid rgba(255, 255, 255, 0.49);
  transition: all 0.2s linear 0s;
}
.button a {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}
.button a:active {
  color: black;
}
.button:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 7px #ed068c;
}
.button:active {
  background-color: rgba(255, 255, 255, 0.755);
}

body {
  font-family: Lato, sans-serif;
}
@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  left: 0;
  top: 0;
  padding: 0 40px;
  border-bottom: 1px solid #c3c4c4;
  background: url(/images/dark_background.jpg) center no-repeat;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 85px;
}
.header__menu {
  flex: 0 1 600px;
  margin: 0 0 17px 70px;
}
.header__logo {
  flex: 0 0 200px;
  position: relative;
  z-index: 15;
}
.header__logo img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__logo_appearance {
  opacity: 0;
  top: 30px;
  left: 50%;
  animation: logo-burger-appearance 0.4s 0.3s forwards;
}
@keyframes logo-burger-appearance {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.menu__list {
  display: flex;
  justify-content: space-between;
}
.menu__link {
  display: inline-block;
  font-size: calc(10px + 0.6016042781vw);
  line-height: 1.2;
  font-weight: 400;
  text-shadow: 1px 1px 7px #ed068c;
  letter-spacing: 0.2em;
  transition: all 0.3s ease 0s;
  color: rgb(222, 222, 222);
}
.menu__link:hover {
  color: #ed068c;
  text-shadow: 2px 1px 3px white;
  transform: scale(1.1);
}
.menu__link:active {
  color: #5d5d5d;
}
@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(/images/dark_background.jpg) center no-repeat;
    padding: 150px 0 0 0;
    overflow: auto;
    transform: translate(0, -100%);
    transition: all 0.4s linear 0s;
    opacity: 0;
  }
  .menu__body.active {
    transform: translate(0, 0);
    opacity: 1;
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu__list li {
    padding: 20px 0 45px 0;
  }
  .menu__list li:nth-child(2), .menu__list li:nth-child(3) {
    padding: 0 0 45px 0;
  }
  .menu__list li:last-child {
    padding: 0px;
  }
  .menu__link {
    color: white;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 33px;
    right: 30px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(222, 222, 222);
    transition: all 0.3s ease 0s;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu.active span {
    transform: scale(0);
    background-color: white;
  }
  .icon-menu.active span:first-child {
    transform: rotate(-45deg);
    top: 8px;
  }
  .icon-menu.active span:last-child {
    transform: rotate(45deg);
    bottom: 8px;
  }
}

.main-screen {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  height: 100vh;
}
.main-screen__background {
  overflow: hidden;
  filter: brightness(0.85);
}
.main-screen__background img {
  max-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/images/dark_background.jpg) center no-repeat;
  padding: 50px 0;
  filter: brightness(0.9);
}
.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}
.about__icon {
  flex: 0 1 100px;
  max-width: 400px;
}
.about__icon img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__title {
  margin-bottom: 15px;
}
.about__title h2 {
  line-height: 1.2;
  letter-spacing: 0.2em;
  color: white;
  font-weight: 900;
}
@media (max-width: 768px) {
  .about__title h2 {
    font-size: 15px;
    line-height: 24px;
    text-align: center;
  }
}
.about__subtitle {
  color: #ed068c;
}
.about__text {
  line-height: 34px;
  font-weight: 400;
  color: white;
  letter-spacing: 0.1em;
  text-align: center;
  font-size: calc(14px + 0.4081632653vw);
}
@media (max-width: 768px) {
  .about__text {
    line-height: 30px;
  }
}
.about__text span {
  font-weight: 700;
  color: #ed068c;
}

.services__row {
  display: flex;
}
@media (max-width: 600px) {
  .services__row {
    flex-direction: column;
  }
}
.services__column {
  flex: 0 1 45%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  min-height: 100%;
}
@media (max-width: 1024px) {
  .services__column {
    flex: 0 1 60%;
  }
}
.services__column_img {
  flex: 1 0 55%;
}
.services__column_img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
@media (max-width: 1024px) {
  .services__column_img {
    flex: 0 1 40%;
  }
}
.services__column_3col {
  flex: 0 1 33.333%;
}
.services__column_3col img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.services__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.services__content {
  padding: 25px;
  flex: 1 1 auto;
}
.services__content-img {
  max-height: 40%;
}
.services__content-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.brands {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  background: url(/images/dark_background.jpg) 0 0/cover no-repeat;
}
.brands__box {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template: 1fr 1fr/repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}
.brands__text {
  padding: 50px 0 40px 0;
}
.brands__text p {
  font-size: 18px;
  line-height: 1.7;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: rgb(222, 222, 222);
  text-align: center;
}
.brands__text span {
  color: #ed068c;
}
.brands__item {
  filter: invert(100%);
  padding: 10px;
}
.brands__item img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery {
  display: flex;
}
.gallery__box {
  display: flex;
  flex-direction: column;
}
.gallery__row {
  display: flex;
}
.gallery__column {
  flex: 1 1 33.333%;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .gallery__column_hidden {
    display: none;
  }
}
.gallery__image {
  flex: 0 0 50%;
  position: relative;
  transition: all 0.2s ease 0s;
}
.gallery__image:hover {
  transform: scale(1.1);
}
.gallery__image_wide {
  flex: 0 0 100%;
}
.gallery__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.gallery__discover {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/images/dark_background.jpg) center no-repeat;
  padding: 75px 0;
}
.gallery__button {
  width: 300px;
  height: 50px;
}

.contact {
  padding: 40px 0;
  background: url(/images/light_background1.jpg) center/cover no-repeat;
}
.contact__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact__form {
  flex: 0 1 60%;
}
.contact__title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  color: rgb(222, 222, 222);
  text-shadow: 1px 0px 3px black;
  margin-bottom: 25px;
}
.contact__title::after {
  display: block;
  content: "";
  width: 75px;
  height: 2px;
  margin-top: 15px;
  background-color: #ed068c;
}
.contact__form-box {
  display: grid;
  grid-template: repeat(4, 45px)/repeat(2, 1fr);
  justify-items: stretch;
  grid-template-areas: "name phone" "mail mail" "message message" "message message";
  gap: 20px;
}
.contact__item {
  border-radius: 3px;
}
.contact__item_name {
  grid-area: name;
}
.contact__item_mail {
  grid-area: mail;
}
.contact__item_phone {
  grid-area: phone;
}
.contact__item_message {
  grid-area: message;
  margin-bottom: 40px;
}
.contact__item input,
.contact__item textarea {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  text-indent: 10px;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.5882352941);
  transition: all 0.3s linear;
}
.contact__item input:focus,
.contact__item textarea:focus {
  box-shadow: 0px 0px 4px #ed068c;
}
.contact__button {
  border-radius: 3px;
  overflow: hidden;
  display: block;
  width: 130px;
  text-align: center;
  line-height: 50px;
  font-weight: 900;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: rgba(3, 3, 3, 0.1450980392);
  color: rgb(222, 222, 222);
  margin-bottom: 40px;
}
.contact__button:active {
  color: black;
}
.contact__map {
  flex: 0 1 37%;
  margin-left: 20px;
  border-radius: 2px;
  border-radius: 3px;
  box-shadow: 0px 0px 12px rgba(3, 3, 3, 0.8549019608);
  transition: all 0.3s linear;
}
.contact__map img {
  max-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact__map:hover {
  transform: scale(1.05);
}
.contact__row {
  flex: 0 1 60%;
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  text-shadow: 0px 0px 1px rgb(222, 222, 222);
}

.row__item {
  flex: 0 1 25%;
  margin-right: 10px;
}
.row__item a {
  display: block;
  max-width: 64px;
  margin: 0 auto 10px;
  transition: all 0.3s linear;
}
.row__item a:hover {
  transform: scale(1.1);
}
.row__info {
  flex: 0 1 50%;
  padding: 24px 0px 0px 15px;
}
.row__info span {
  letter-spacing: 0.1em;
  color: #ed068c;
  text-shadow: 0px 0px 2px black;
}

.footer {
  color: #ed068c;
  font-style: italic;
  line-height: 18px;
  background: url(/images/dark_background.jpg) center/cover no-repeat;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  padding: 100px 0px;
}
.footer__info span {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.footer__socials {
  display: flex;
  align-items: center;
}
.footer__link {
  margin-right: 15px;
  flex: 0 0 36px;
  max-height: 35px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  z-index: 5;
  transition: all 0.3s linear 0s;
}
.footer__link img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__link:last-child {
  margin-right: 0px;
}
.footer__link:hover {
  transform: scale(1.1);
}
.footer__link:active {
  box-shadow: 0px 0px 5px black;
}
.footer__logo {
  margin-left: 10px;
}